// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show_part_time {
  width: 5em;
}
#show-show {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}

.edit_show {
  #new-show-parts {
    border: 1px solid black;
    border-radius: 0.2em;
    display: inline-block;
    min-width: 16em;
    min-height: 1em;
    max-height: 80%;
    th {
      text-align: left;
    }
    
    .show-part-action {
      color: #666;
    }
  }
  #show_title {
    font-family: inherit;
    background: none;
    border: none;
    border-bottom: 2px solid #444;
    font-size: 24px;
  }
  #show-actions {
    .remove-show {
      color: #666;
      vertical-align: middle;
    }
    input {
      vertical-align: middle;
    }
  }
}

#live-view {
  border-left: 1px solid black;
  padding-left: 1em;
  margin-left: 1em;
  flex-grow: 1;
  
  #live-not-started {
    margin: 10% auto;
    width: 20em;
    #start-live-show {
      font-size: 24px;
      display: block;
      margin: 10% auto;
      background: #ecffd2;
      border: 4px solid #6fbb04;
      box-shadow: 0 1px 2px rgba(black, 0.1);
      border-radius: 4px;
      font-family: inherit;
      transition-duration: 200ms;
      cursor: pointer;
      &:hover {
        box-shadow: 0 2px 6px rgba(black, 0.2);
      }
    }
  }
  &.live {
    #live-not-started {
      display: none;
    }
  }
  &:not(.live) {
    #live-started {
      display: none;
    }
  }
}


#live-started {
  height: 100%;
  .controls {
    .pause, .ff, .fr, .stop {
      font-size: 40px;
      vertical-align: middle;
      color: #E16565;
      text-shadow: 0 0 3px rgba(black, 0.2);
      transition-duration: 200ms;
      &:hover {
        color: #e28282;
      }
      &:active {
        text-shadow: 0 0 3px rgba(black, 0.24);
        color: #c46161;
      }
    }
    .pause {
      font-size: 64px;
    }
  }
}
