// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show_part_time {
  width: 5em;
}
#show-show {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}

.edit_show {
  #new-show-parts {
    border: 1px solid black;
    border-radius: 0.2em;
    display: inline-block;
    min-width: 16em;
    min-height: 1em;
    max-height: 80%;
    th {
      text-align: left;
    }
    
    .show-part-action {
      color: #767676;
    }
  }
  #show_title {
    font-family: inherit;
    background: none;
    border: none;
    border-bottom: 2px solid #444;
    font-size: 24px;
  }
  #show-actions {
    .remove-show {
      color: #767676;
      vertical-align: middle;
    }
    input {
      vertical-align: middle;
    }
  }
}
