// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show_part_time {
  width: 5em;
}
#show-show {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}

.edit_show {
  width: 24em;
  #show-parts {
    border: 4px solid #BBB;
    border-radius: 4px;
    display: inline-block;
    min-width: 16em;
    min-height: 1em;
    max-height: 80%;
    th {
      text-align: left;
    }
    
    .show-part-action {
      color: #767676;
    }
  }
  #show_title {
    font-family: inherit;
    background: #EEE;
    border: none;
    border-bottom: 2px solid #444;
    padding: 0px 3px;
    font-size: 24px;
    width: 100%;
  }
  #show-actions {
    .remove-show {
      color: #767676;
      vertical-align: middle;
    }
    input {
      vertical-align: middle;
    }
  }
}

.owners {
  margin: 0.8em 0;
  padding: 0;
  list-style-type: none;
  @mixin owner-icon($text, $color) {
    content: $text;
    color: $color;
    font-family: "Material Icons";
    position: absolute;
    font-size: 22px;
    margin-left: -1.5em;
  }
  .email {
    padding-left: 2.5em;
    &::before {
      @include owner-icon("account_circle", #{#767676});
    }
    &:not(.self):hover::before {
      @include owner-icon("remove_circle", #{red});
    }
    &.self:hover::before {
      @include owner-icon("remove_circle", #{#999});
    }
    &.invalid {
      color: red;
      &::before {
        @include owner-icon("account_circle", #{#804949})
      }
    }
  }
}
