<div id="live-view" class="<%= "live" if show.live? %>">
  <div id="live-not-started">
    <%= button_tag 'Start live show', id: 'start-live-show' %>
    Live show not started.
    Click on the button above to start it now.
  </div>
</div>
