<%= link_to 'Create new show', new_show_path %>
<div class="show-list">
  <% if @shows.empty? %>
    There's nothing here...
  <% else %>
    My shows:
    <ul id="show-list">
      <% @shows.each do |show| %>
        <li>
            <%= link_to show.title_human, show %>
        </li>
      <% end %>
    </table>
  <% end %>
</div>
