<% @nomenu = true
   @content_class = "live-client" %>
<div id="live-client">
  <div id="client-show-name">Test show</div>
  <div class="spacer"></div>
  <div id="client-time">00:00:00</div>
  <div id="client-part-name">Part 1</div>
  <div class="spacer"></div>
  <div id="client-next-part">Next: Part 2</div>
</div>
