<% @nomenu = true
   @content_class = "live-client" %>
<div id="live-client">
  <span class="data" id="client-urlid" data-urlid="<%= @urlid %>"></span>
  <div id="client-show-name"><%=
    if @show.present?
      @show.title_human
    else
      "Invalid code"
    end
  %></div>
  <div class="spacer"></div>
  <div id="client-time">00:00:00</div>
  <div id="client-part-name">-</div>
  <div class="spacer"></div>
  <div id="client-next-part">Next: -</div>
</div>
